.menu-auth-btn {
  height: 40px;
  width: 160px;
  border: none;
  border-radius: 8px;
}
.menu-edit-btn {
  height: 40px;
  width: 160px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--color-grey);
}
.menu-edit-btn:hover {
  border-color: var(--color-hover);
}
.language-btn {
  width: 50px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  gap: 5px;
  transition: all 0.3s;
  background-color: transparent;
  border: 1px solid var(--color-grey);
}
.language-btn:hover {
  border: 1px solid var(--color-hover);
}
@media (min-width: 768px) {
  .menu-auth-btn,
  .menu-edit-btn {
    width: 210px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .menu-auth-btn {
    width: 110px;
  }
  .menu-edit-btn {
    width: 185px;
  }
}
@media (min-width: 1280px) {
  .menu-auth-btn {
    width: 210px;
  }
}
@media (min-width: 1920px) {
  .menu-auth-btn {
    width: 100px;
    height: 33px;
  }
  .menu-edit-btn {
    height: 33px;
    width: 250px;
  }
}
@media (min-width: 2560px) {
  .menu-auth-btn {
    height: 43px;
  }
  .menu-edit-btn {
    height: 43px;
  }
}
